/* Parallax Background */

.parallax-background {
    background-image: url('../assets//images/bgimg.jpg'); /* Use your background image */
    height: 500px; /* Set the height of the parallax section */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-out;
  }
  
  .content {
    color: white;
    text-align: center;
    font-size: 2rem;
  }
  
  /* Normal Section */
  .normal-section {
    padding: 50px;
    text-align: center;
    background-color: #f4f4f4;
  }
  