@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light theme */
:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f8f8; /* Adjust this based on your design */
}



 /* banner stars  */
.banner-swiper{
  
  .swiper-button-next{
   @apply right-0 
}
.swiper-button-prev{
  @apply 
  left-0

}
.swiper-button-prev, .swiper-button-next {
  @apply
   w-[40px]
  h-[90px]



  text-white
  bg-primary
  
  shadow-[0px_5px_15px_rgba(0,0,0,0.35)]

}
.swiper-button-prev::after, .swiper-button-next::after{
  @apply md:text-lg
  text-sm
}
/* Custom Swiper Pagination Bullets */
.swiper-pagination-bullet {
  width: 20px; /* Make the bullet rectangular */
  height: 8px;
  background-color: white; 
   border-radius: 2px; 
  transition: background-color 0.3s ease;
}

/* Active bullet styling */
.swiper-pagination-bullet-active {
  background-color: #77CC6D; /* Green color for active */
}

/* Hide the navigation buttons by default */
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show the navigation buttons on hover */
.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
  opacity: 1;
}



}



/* banner ends  */


/* lets talk div start  */

.lets-talk-div{
  .lets-talk-btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .lets-talk-btn::after, .lets-talk-btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .lets-talk-btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .lets-talk-btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .lets-talk-btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .lets-talk-btn:hover {
    color: var(--color2);
   }
   
   .lets-talk-btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
}

/* lets talk div end  */

/* service component start  */
.service-div{
  /* From Uiverse.io by joe-watson-sbf */ 
.get-started-btn {
  
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: white;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.get-started-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: 0.5s ease;
}

.get-started-btn:hover {
  color: black;
  transition-delay: 0.5s;
}

.get-started-btn:hover::before {
  width: 100%;
}

.get-started-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: white;
  transition: 0.4s ease;
  z-index: -1;
}

.get-started-btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

}

.services-swiper{
  .swiper-button-next{
    @apply 
    right-2   
}
.swiper-button-prev{
  @apply
  left-2

}
.swiper-button-prev, .swiper-button-next {
  @apply md:w-[50px]
  md:h-[50px]
  w-[30px]
  h-[30px]

  text-black
  bg-white
  hover:bg-primary
  hover:text-white
  rounded-full
  shadow-[0px_5px_15px_rgba(0,0,0,0.35)]

}
.swiper-button-prev::after, .swiper-button-next::after{
  @apply md:text-lg
  text-sm
}
}

/* service component end  */


.about-bg-div{
    background-image: url(./assets//images/about-bg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}













/*  */

/* From Uiverse.io by vinodjangid07 */ 
.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
 
  display: flex;
  align-items: center;
  justify-content: center;
 
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
  transition-duration: .3s;
  && .socialSvg path{
    fill: white;
  }
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
  && .socialSvg path{
    fill: white;
  }
}
/* linkdin*/
.containerThree:hover {
 background-color:  #0077B5;
  transition-duration: .3s;
  && .socialSvg path{
    fill: white;
  }
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #25D366;
  transition-duration: .3s;
  && .socialSvg path{
    fill: white;
  }
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: black;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




  


.form-div{
  .submit-btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: black;
    z-index: 1;
  }
  
  .submit-btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .submit-btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #77cc6d;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .submit-btn:hover {
    color: #ffffff;
    border: 1px solid #77cc6d;
  }
  
  .submit-btn:hover:before {
    top: -35%;
    background-color: #77cc6d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .submit-btn:hover:after {
    top: -45%;
    background-color: #77cc6d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
}