@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light theme */
:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f8f8; /* Adjust this based on your design */
}



 /* banner stars  */
.banner-swiper{
  .swiper-button-next{
    @apply md:right-[100px]
    right-2   
}
.swiper-button-prev{
  @apply md:left-[100px]
  left-2

}
.swiper-button-prev, .swiper-button-next {
  @apply md:w-[50px]
  md:h-[50px]
  w-[30px]
  h-[30px]

  text-black
  bg-white
  rounded-full
  shadow-[0px_5px_15px_rgba(0,0,0,0.35)]

}
.swiper-button-prev::after, .swiper-button-next::after{
  @apply md:text-lg
  text-sm
}
/* Custom Swiper Pagination Bullets */
.swiper-pagination-bullet {
  width: 20px; /* Make the bullet rectangular */
  height: 8px;
  background-color: white; 
   border-radius: 2px; 
  transition: background-color 0.3s ease;
}

/* Active bullet styling */
.swiper-pagination-bullet-active {
  background-color: #77CC6D; /* Green color for active */
}


}

/* banner ends  */


/* lets talk div start  */

.lets-talk-div{
  .lets-talk-btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .lets-talk-btn::after, .lets-talk-btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .lets-talk-btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .lets-talk-btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .lets-talk-btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .lets-talk-btn:hover {
    color: var(--color2);
   }
   
   .lets-talk-btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
}

/* lets talk div end  */

/* service component start  */
.service-div{
  /* From Uiverse.io by joe-watson-sbf */ 
.get-started-btn {
  
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: white;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.get-started-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: 0.5s ease;
}

.get-started-btn:hover {
  color: black;
  transition-delay: 0.5s;
}

.get-started-btn:hover::before {
  width: 100%;
}

.get-started-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: white;
  transition: 0.4s ease;
  z-index: -1;
}

.get-started-btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

}

.services-swiper{
  .swiper-button-next{
    @apply 
    right-2   
}
.swiper-button-prev{
  @apply
  left-2

}
.swiper-button-prev, .swiper-button-next {
  @apply md:w-[50px]
  md:h-[50px]
  w-[30px]
  h-[30px]

  text-black
  bg-white
  hover:bg-primary
  hover:text-white
  rounded-full
  shadow-[0px_5px_15px_rgba(0,0,0,0.35)]

}
.swiper-button-prev::after, .swiper-button-next::after{
  @apply md:text-lg
  text-sm
}
}

/* service component end  */


.about-bg-div{
    background-image: url(./assets//images/about-bg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}














